@model WebApplication4.Models.AuthResponse

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style type="text/css">
    body, html {
        height: 100%;
        font-family: 'Montserrat', sans-serif;
    }

    .bg {
        /* The image used */
        /*background-image: url("../../Images/IMG_0345.jpg");*/
        /* Full height */
        /*height: 100%;*/
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>



<div class="bg">
    <!-- Register New User Modal -->
    <div class="modal" id="registrationModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-12 text-left ">
                            <p style="font-size:x-large;font-weight:600;float:left">New Team Creator Registration</p>
                            <p style="font-size:small;font-weight:600;float:right">
                                <button type="button"
                                        aria-hidden="true"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                        class="close"
                                        style="width:30px;height:30px;"
                                        onclick="ReturnToLogin();">
                                    &times;
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form id="registrationForm" action="/Login/RegisterNewTeam" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <label for="firstName">Team Name</label>
                            <input class="form-control" type="text" id="teamName" required maxlength="23" name="TEAMNAME" aria-describedby="teamHelp" placeholder="Team Name." onblur="CheckTeamNameExistance(this.value);">
                            <small id="itemTitleHelp1" class="form-text text-muted">Please enter your team name.</small>
                        </div>
                        <div class="form-group">
                            <label for="firstName">Nick Name</label>
                            <input class="form-control" type="text" id="nickName" required maxlength="23" name="NICKNAME" aria-describedby="emailHelp" placeholder="Nick Name." onblur="CheckNickName(this.value);">
                            <small id="itemTitleHelp1" class="form-text text-muted">Please enter your nick name.</small>
                        </div>
                        <div class="form-group">
                            <label for="firstName">Password</label>
                            <input class="form-control" type="password" id="PASSWORD" required name="PASSWORD" aria-describedby="emailHelp" placeholder="Password">
                            <small id="itemTitleHelp1" class="form-text text-muted">Please enter your password</small>
                        </div>
                        <div class="form-group">
                            <label for="firstName">Confirm Password</label>
                            <input class="form-control" type="password" onblur="CheckEnteredPasswords();" id="CONFIRMPASSWORD" required name="CONFIRMPASSWORD" aria-describedby="emailHelp" placeholder="Confirm password">
                            <small id="itemTitleHelp1" class="form-text text-muted">Please confirm your password</small>
                        </div>
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input class="form-control" type="text" id="firstName" required name="FIRSTNAME" aria-describedby="emailHelp" placeholder="First Name.">
                            <small id="itemTitleHelp2" class="form-text text-muted">Please enter your first name.</small>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input class="form-control" type="text" id="lastName" required name="LASTNAME" placeholder="Last Name">
                            <small id="itemDateHelp3" class="form-text text-muted">Please enter your last name.</small>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Email</label>
                            <input class="form-control" type="text" required id="email" name="EMAIL" placeholder="Email">
                            <small id="itemDateHelp4" class="form-text text-muted">Please enter your email.</small>
                        </div>
                        <div class="form-group">
                            <label for="itemCreationDate">Registration Date</label>
                            <input class="form-control" type="text" readonly="readonly" id="registrationDate" name="REGISTRATIONDATE">
                            <small id="itemDateHelp5" class="form-text text-muted">Registration date</small>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Profile Picture
                                <input type="file" id="regattachments" class="btn-warning" name="PROFILEPICTURE" style="float:right;line-height: 0.5;" size="10">
                                <button type="button" class="btn btn-warning" id="detailsResetButton" style="float:right;line-height: 0.5;" onclick="ResetRegistrationUpload();">Reset</button>

                            </li>
                        </ul>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="ReturnToLogin();">Cancel</button>
                            <button class="btn btn-danger" onclick="ResetRegForm();">Reset form</button>
                            <button type="submit" class="btn btn-primary" id="btnSubmitNewRegItem">Save changes</button>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal " data-backdrop="static" data-keyboard="false" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:white;">
    <div class="modal-dialog bg-dark text-light" role="document">
        <div class="modal-content  rounded-0" style="background-image: linear-gradient(to right top, #00063f, #332f60, #605a83, #8e89a7, #bdbacc, #d0cfdd, #e4e5ed, #f9fafe, #f3f6fd, #ebf3fc, #e2f0fa, #d9edf7); ">
            @*https://mycolor.space/gradient?ori=circle&hex=%23AFA8BA&hex2=%23F5B0A2&sub=1*@
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12 text-left ">
                        <p style="font-size:x-large;font-weight:600;float:left">Changer le mot de passe</p>
                        <p style="font-size:small;font-weight:600;float:right">
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form id="newItem" action="/Login/ChangePassword" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label for="itemTitle"><span class="glyphicon glyphicon-user "></span>&nbsp;Pseudonyme</label>
                        <input class="form-control" type="text" id="userName" required maxlength="23" value="@Model.NickName" name="userName" aria-describedby="emailHelp" placeholder="Votre pseudonyme" readonly style="background-image: linear-gradient(to left bottom, #e0eafc, #dce7fa, #d8e4f8, #d3e1f5, #cfdef3);">
                        <small id="itemTitleHelp" class="form-text text-muted">Votre pseudonyme</small>
                    </div>
                    <div class="form-group">
                        <label for="itemTitle"><span class="glyphicon glyphicon-user "></span>&nbsp;Courriel</label>
                        <input class="form-control" type="text" id="userName" required maxlength="23" value="@Model.Email" name="userName" aria-describedby="emailHelp" placeholder=" Votre courriel" readonly style="background-image: linear-gradient(to left bottom, #e0eafc, #dce7fa, #d8e4f8, #d3e1f5, #cfdef3);">
                        <small id="itemTitleHelp" class="form-text text-muted">Votre courriel</small>
                    </div>
                    <div class="form-group">
                        <label for="itemCreationDate"><span class="glyphicon glyphicon-th"></span>&nbsp;Nouveau mot de passe</label>

                        <input class="form-control" type="password" id="userPassword" name="NewPassword" style="font-size: 30px;background-image: linear-gradient(to left bottom, #e0eafc, #dce7fa, #d8e4f8, #d3e1f5, #cfdef3);" />
                        <small id="itemDateHelp" class="form-text text-muted">Votre nouveau mot de passe</small>
                    </div>
                    <div class="form-group">
                        <label for="itemCreationDate"><span class="glyphicon glyphicon-th"></span>&nbsp;Confirmer le nouveau mot de passe</label>

                        <input class="form-control" type="password" id="userPasswordConfirm" name="ConfirmNewPassword" style="font-size: 30px;background-image: linear-gradient(to left bottom, #e0eafc, #dce7fa, #d8e4f8, #d3e1f5, #cfdef3);" />
                        <small id="itemDateHelp" class="form-text text-muted">Confirmez votre nouveau mot de passe</small>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnSubmitNewItem">Changer le mot de passe</button>
                    </div>
                    <div class="modal-footer" style="text-align:center">
                        @if (Model != null)
                        {
                            if (Model.InvalidLogin != null)
                            {
                                <font style="color:red">@Html.Raw(Model.InvalidLogin.ToString())</font>
                            }

                        }
                    </div>
                    <input type="hidden" name="userName" value="@Model.NickName" />
                    <input type="hidden" name="userEmail" value="@Model.Email" />
                </form>

                <div class="well well-lg bg-success text-info" style="background-image: linear-gradient(to left bottom, #e0eafc, #dce7fa, #d8e4f8, #d3e1f5, #cfdef3);">
                    <span class="glyphicon glyphicon-cog"></span>
                    Après avoir changé votre mot de passe, vous pouvez à nouveau vous connecter avec vos nouveaux identifiants dans la page de connexion.
                </div>
            </div>



        </div>
    </div>
</div>

<!-- Reset Password -->
<div class="modal " data-backdrop="static" data-keyboard="false" id="ResetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:white;">
    <div class="modal-dialog bg-dark text-light" role="document">
        <div class="modal-content  rounded-0" style="background-image: linear-gradient(to right top, #00063f, #332f60, #605a83, #8e89a7, #bdbacc, #d0cfdd, #e4e5ed, #f9fafe, #f3f6fd, #ebf3fc, #e2f0fa, #d9edf7); ">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12 text-left ">
                        <p style="font-size:x-large;font-weight:600;float:left">Reset Password</p>
                        <p style="font-size:small;font-weight:600;float:right">
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form id="newItem" action="/Login/ResetPasswordLink " enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label for="itemTitle"><span class="glyphicon glyphicon-user "></span>&nbsp;Nick Name</label>
                        <input class="form-control" type="text" id="userName" required maxlength="23" name="NICKNAME" aria-describedby="emailHelp" placeholder="Please enter your NickName" style="background-image: linear-gradient(to left bottom, #e0eafc, #dce7fa, #d8e4f8, #d3e1f5, #cfdef3);">
                        <small id="itemTitleHelp" class="form-text text-muted">Please enter your nick name that you used for registration.</small>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="btnSubmitNewItem">Send pwd reset link</button>
                    </div>

                </form>
                <div class="well well-lg bg-success text-info" style="background-image: linear-gradient(to left bottom, #e0eafc, #dce7fa, #d8e4f8, #d3e1f5, #cfdef3);">
                    <span class="glyphicon glyphicon-cog"></span>
                    Please check your email for password reset link. Click on that link and you will be able to reset your password securely. The data is encrypted.
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Quotes Modal -->
<div class="modal" id="quotesModal">
    <div class="modal-dialog modal-lg" style="width:100%;height:100%">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12 text-left ">
                        <p style="font-size:x-large;font-weight:600;float:left">Some Interesting Quotes</p>
                        <p style="font-size:small;font-weight:600;float:right">
                            <button type="button"
                                    aria-hidden="true"
                                    data-dismiss="modal"
                                    aria-label="Close"
                                    class="close"
                                    style="width:30px;height:30px;">
                                &times;
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container" style="width:100%">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card" style="width:100%;margin:20px 0 24px 0;">
                                <img class="card-img-top img-responsive" src="~/Images/c1.JPG" alt="image" style="width:100%">
                                <div class="card-body">
                                    <h4 class="card-title">The Future of Scrum - 2005</h4>
                                    <p class="card-text">Scrum created a stable environment that copes with change very well.</p>
                                    @*<a href="javascript:void(0)" class="btn btn-primary">See Profile</a>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card" style="width:100%;margin:20px 0 24px 0">
                                <img class="card-img-top" src="~/Images/c2.JPG" alt="image" style="width:100%">
                                <div class="card-body">
                                    <h4 class="card-title">Product Backlog</h4>
                                    <p class="card-text">
                                        Items in Product Backlog must be done one at a time
                                        by the whole team, top to bottom, and jump to the next one only when tested.
                                    </p>
                                    @*<a href="javascript:void(0)" class="btn btn-primary">See Profile</a>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card" style="width:100%;margin:20px 0 24px 0">
                                <img class="card-img-top" src="~/Images/c3.JPG" alt="image" style="width:100%">
                                <div class="card-body">
                                    <h4 class="card-title">Sprint Backlog</h4>
                                    <p class="card-text">Maked visible all the work that the development team identifies</p>
                                    @*<a href="javascript:void(0)" class="btn btn-primary">See Profile</a>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card" style="width:100%;margin:20px 0 24px 0">
                                <img class="card-img-top" src="~/Images/c4.JPG" alt="image" style="width:100%">
                                <div class="card-body">
                                    <h4 class="card-title">Time Boxes</h4>
                                    <p class="card-text">Time Boxes are the "MOST" or "MAXIMUM" time allocated to finish.</p>
                                    @*<a href="javascript:void(0)" class="btn btn-primary">See Profile</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container p-3 my-3 bg-dark text-white">
                    <h1>Cosmic Stopping Problem</h1>
                    <blockquote class="blockquote text-left">
                        <p class="mb-0">
                            If Scrum Backlog is not clear, stop it. It is the same as a problem that occured in the past in one of the
                            universities where 300 mhz would disrupt a computer every two weeks. They did not know why. Finally they found that it
                            was because of a flip flop voltage, which was in an Indeterminate state.
                        </p>
                        <footer class="blockquote-footer">Source: Google Tech Talks - Jeff Sutherland</footer>
                    </blockquote>
                </div>
                <div class="container p-3 my-3 bg-dark text-white">
                    <h1>Impediments</h1>
                    <blockquote class="blockquote text-left">
                        <p class="mb-0">
                            A good Scrum Master removes all impediments from a team very fast. Small to medium impediments take up to one hour
                            . Big impediments one day maximum.
                        </p>
                        <footer class="blockquote-footer">Source: Google Tech Talks - Jeff Sutherland</footer>
                    </blockquote>


                </div>
                <div class="container p-3 my-3 bg-dark text-white">
                    <h1>Hyperproductivity</h1>

                    <blockquote class="blockquote text-left">
                        <p class="mb-0">
                            Hyperproductivity is a target.Teams who use quick start approach, increase team velocity.
                        </p>
                        <footer class="blockquote-footer">Source: Google Tech Talks - Jeff Sutherland</footer>
                    </blockquote>

                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>



